
#wrap{
    /*background-color: #00F7DE;*/
    height: 80%;
    top: 10%;
    bottom: 10%;
    width: 100%;
}

div{
    color: #9F9F9F;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#clock{
    height: 47vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}

#name-roller{
    height: 15.5vh;
}

#sentence-roller{
    height: 15.5vh;
}

.layui-col-lg6 .layui-row{
    /*height: 23.1vh;*/
}

.layui-col-lg6 {
    height: 80vh;
}

#clock p{
    color: #FFB800;
    font-size: 6vh;
    text-align: center;
    line-height: 6vh;
}

#clock .clock-day span {
    color: #FF5722;
}

#clock .clock-second span {
    color: red;
}


.class-process-near {
    background-color: #eeeeee;
}


.class-process .layui-progress-big{
}

.center{
    text-align: center;
}

.post-text{
    font-size: large;
}
.layui-table th{
    font-size: 3.5vh;
    line-height: 3.5vh;
    background-color: #393D49;
}

.layui-table td{
    font-size: 3vh;
    line-height: 3vh;
}

.class-list-header{
    padding-bottom: 39px;
}