

@font-face {
    font-family: kaishu;
    src: url('../fonts/演示秋鸿楷.ttf');
}
@font-face {
    font-family: verybold;
    src: url('../fonts/仓耳与墨W05.ttf');
}
@font-face {
    font-family: wakanda-useful;
    src: url('../fonts/BEYNO-BlackPanther.ttf');
}
@font-face {
    font-family: wakanda-bad;
    src: url('../fonts/wakanda2.ttf');
}
html {
    background-image: url("../img/bg/feng_desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

#wrap {
    /*background-color: #00F7DE;*/
    height: 100vh;
    top: 10vh;
    bottom: 10%;
    width: 100%;
    /*overflow: scroll;*/
}

div {
    color: #9F9F9F;
}

#clock {
    height: 30vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.post-text {
    height: 20vh;
}

#sentence-roller {
    height: 30vh;
    overflow-y: hidden;
}

.layui-col-lg6 .layui-row {
    /*height: 23.1vh;*/
}

.layui-col-lg6 {
    height: 80vh;
}

#clock p {
    color: #1E9FFF;
    font-size: 6vh;
    text-align: center;
    line-height: 7vh;
    font-family: verybold, fangsong;
}

#clock .clock-day span {
    color: #FF5722;
}

#clock .clock-second span {
    color: red;
}


.class-process-near {
    background-color: #eeeeee;
}


.class-process .layui-progress-big {
}

.center {
    text-align: center;
}

.post-text {
    font-size: large;
}

.layui-table th {
    font-size: 1.8vw;
    line-height: 1.8vw;
    height: 1.8vw;
    background-color: #393D49;
    color: #92B8B1;
}

.layui-table td {
    font-size: 1.8vw;
    line-height: 1.8vw;
    height: 1.8vw;
    padding: 0.1vw 0.1vw;
}

.layui-table {
    background-color: rgba(0, 0, 0, 0);
    color: #e2e2e2;
}

.class-list-header {
    /*padding-bottom: 39px;*/
}

.layui-card {
    background-color: rgba(0, 0, 0, 0.5);
}

.layui-card-header {
    color: #e2e2e2;
}

#words-board-row {
    overflow: hidden;
}

/*#name-roller .layui-card-body div {*/
/*    height: 10vw;*/
/*    width: 10vw;*/
/*    background-color: rgba(100, 100, 100, 0.1);*/
/*    float: left;*/
/*    margin-left: 50px;*/
/*    font-size: 150px;*/
/*    line-height: 200px;*/
/*    border: #01AAED solid 5px;*/
/*    color: #FF5722;*/
/*}*/

/*.sentence-roller-left {*/
/*    position: absolute;*/

/*    height: 22vh;*/
/*    width: 27%;*/
/*    text-align: center;*/
/*    padding-top: 100px;*/
/*}*/

.sentence-roller-right {
    /*position: absolute;*/
    /*height: 22vh;*/
    /*width: 70%;*/
    /*right: 0;*/
    text-align: center;

}

.sentence-roller-right p {
    font-size: 1.8vw;
    color: white;
    line-height: 1.5vw;
    font-family: kaishu, serif;
}

/*.sentence-roller-left p {*/
/*    line-height: 1vw;*/
/*    font-size: 1vw;*/
/*}*/

/*.sentence-roller-left img {*/
/*    width: 5vw;*/
/*}*/

.index-center {
    width: 30vw;
    position: absolute;
    right: 35vw;
    margin-top: 9vh;
}

.index-right {
    width: 20vw;
    position: absolute;
    right: 2.5vw;
    top: calc((100vh - 19 * 1.8vw - 200px) / 2);
}

.index-left {
    width: 20vw;
    position: absolute;
    left: 2.5vw;
}

.clock-day {
    width: 15vw;
    position: relative;
    left: 2vw;
    top: 2vh;
}
.clock-hour {
    width: 15vw;
    position: relative;
    left: 13vw;
    bottom: 5vh;
}
.clock-minute {
    width: 15vw;
    position: relative;
    left: 2vw;
    bottom: 3vh;

}
.clock-second {
    width: 15vw;
    position: relative;
    left: 13vw;
    bottom: 10vh;
}

.word-roller {
    text-align: center;
    /*font-family: wakanda-useful, serif;*/
    font-size: 5vh;
    line-height: 5vh;
    color: #00ff23;
}

.pronounce {
    text-align: center;
    font-size: 2vh;
    line-height: 2.5vh;
    color: #e2e2e2;
}

.translate {
    line-height: 3vh;
    font-size: 2.5vh;
    color: aqua;
}

.offline-notice {
    color: red;
}