
#wrap{
    /*background-color: #00F7DE;*/
    height: 80%;
    top: 10%;
    bottom: 10%;
    width: 100%;
}

div{
    color: #9F9F9F;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#clock{
    height: 48vh;
}

#name-roller{
    height: 16vh;
}

#sentence-roller{
    height: 16vh;
}

.layui-col-lg6 .layui-row{
    /*height: 23.1vh;*/
}

.layui-col-lg6 {
    height: 80vh;
}

#clock p{
    color: #eb7350;
    font-size: xxx-large;
    text-align: center;
}

.layui-row > div{
    border: #2D93CA 1px solid;
}

.class-process-near {
    width: 10%;
    float: left;
    background-color: #eeeeee;
}

.class-process .layui-progress-big{
    left: 30%;
    width: 70%;
}

.center{
    text-align: center;
}

.post-text{
    font-size: large;
}